<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="create-class" href="/tabs/create-class">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Crear clase</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="class-attendance" href="/tabs/class-attendance">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Historial de Asistencia</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="generate-qr" href="/tabs/generate-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Generar QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
